.page8 .img-section {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/page8.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page8 .page-8-overlay {
  background-color: black;
  position: fixed;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  overflow: hidden;
}

.page8 .desc-section {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/patterns/page-4-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pattern-top {
  float: right;
}

.page8 .description {
  width: 70%;
  margin: 35% 26%;
}

.page8 .description .sub-title {
  font-family: Proxima-nova !important;
  text-align: end;
  width: 75%;
  float: left;
  font-weight: 300 !important;
  margin-top: 2% !important;
  float: right;
}

.page8 .description .title {
  letter-spacing: 10px;
  width: 88%;
  text-align: end;
  float: right;
}

.page8 .description .pattern-bottom {
  float: left;
  margin-top: -8%;
}

@media only screen and (min-width: 260px) and (max-width: 480px) {
  .page8 .description {
    width: 100%;
    margin: 36% 5%;
  }
  .page8 .page-8-overlay {
    display: none;
  }
  .page8 .description .title {
    text-align: start;
    letter-spacing: 5px;
    font-size: 2rem;
  }
  .page8 .description .sub-title {
    font-family: Proxima-nova !important;
    text-align: end;
    width: 90%;
    padding-right: 10%;
    float: right;
    font-weight: 300;
    margin-top: -30% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .page8 .description {
    width: 100%;
    margin: 36% 5%;
  }
  .page8 .page-8-overlay {
    display: none;
  }
  .page8 .description .title {
    text-align: start;
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
  .page8 .description .sub-title {
    font-family: Proxima-nova !important;
    text-align: end;
    width: 90%;
    padding-right: 10%;
    float: right;
    font-weight: 300 !important;
    margin-top: -20% !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page8 .description .title {
    text-align: start;
    letter-spacing: 5px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .page8 .description .title {
    text-align: start;
    letter-spacing: 5px;
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1201px) {
}
