.header {
  width: 90%;
  margin: auto;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 99;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: 60px;
  height: 68px;
}

.title {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 260px) and (max-width: 480px) {
  .header .logo {
    width: 40px;
    height: 48px;
  }

  .header .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 45px !important;
    height: 53px;
  }

  .header .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 52px !important;
    height: 60px;
  }

  .header .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1201px) {
}
