.footer {
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 2%;
  left: 4%;
  z-index: 99;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: 60px;
  height: 68px;
}

.footer .title {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: Grand-wilson;
  font-size: 1.5rem;
  letter-spacing: 6px;
  font-size: 300;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container:hover .up-arrow {
  border-top: 1px solid #8b99dd;
  border-bottom: 1px solid #8b99dd;
  border-left: 1px solid #8b99dd;
}

.arrow-container:hover .down-arrow {
  border-top: 1px solid #8b99dd;
  border-bottom: 1px solid #8b99dd;
  border-right: 1px solid #8b99dd;
}
.no-grow {
  flex-grow: 1;
}
.flex-grow {
  flex-grow: 4;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3%;
}

.up-arrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
}

.down-arrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
}
.arrow-container .arrow-btn {
  padding: 2px;
}
@media only screen and (min-width: 260px) and (max-width: 480px) {
  .footer .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .arrow-container {
    position: fixed;
    bottom: 9%;
    right: 2%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer .title {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1201px) {
}
