.popover-container > div {
  background-color: transparent;
  left: 84% !important;
  width: 10%;
  height: 50px;
}

.contact-icons-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.contact-icons-container svg {
  width: 5em !important;
  height: 3em !important;
}

@media only screen and (min-width: 260px) and (max-width: 480px) {
  .popover-container > div {
    background-color: transparent;

    left: 76% !important;
    width: 20%;
    height: 50px;
    top: 78% !important;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-icons-container svg {
    width: 2em !important;
    height: 2em !important;
  }
}
