.image-container {
  width: 100%;
  background-image: url("../../assets/images/background-overlay.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  margin: auto;
}
.landing-text-mobile {
  display: none;
}

.landing-text .intro-text {
  font-family: Proxima-nova !important;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
}
.landing-text .bold-title {
  letter-spacing: 30px;
  width: 100%;
  justify-content: end;
  display: flex;
  font-size: 5rem;
  margin: 1% 0;
}

.landing-text .right-text {
  font-family: Proxima-nova !important;
  display: flex;
  justify-content: start;
  width: 100%;
  direction: rtl;
  padding-right: 5%;
}

@media only screen and (min-width: 260px) and (max-width: 480px) {
  .image-container {
    background-image: url("../../assets/images/lp-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
  }
  .landing-text {
    display: none;
  }

  .landing-text-mobile {
    display: inline-block;
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/patterns/mobile-patter-lower.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
  }

  .landing-text-mobile .intro-text {
    font-family: Proxima-nova !important;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #c4c4c4;
    padding-top: 12%;
  }
  .landing-text-mobile .bold-title {
    width: 100%;
    margin: 2% 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.36em;
    text-align: center;
  }

  .landing-text-mobile .right-text {
    font-family: Proxima-nova !important;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-text {
    width: 90%;
  }
  .landing-text .intro-text {
    font-family: Proxima-nova !important;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
  }
  .landing-text .bold-title {
    letter-spacing: 20px;
    width: 100%;
    justify-content: end;
    display: flex;
    font-size: 3rem;
    margin: 2% 0;
  }

  .landing-text .right-text {
    font-family: Proxima-nova !important;
    display: flex;
    justify-content: start;
    width: 100%;
    direction: rtl;
    padding-right: 5%;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-text {
    width: 90%;
    margin: auto;
  }
  .landing-text .intro-text {
    font-family: Proxima-nova !important;
    font-weight: 400;
    font-size: 1.8rem;
    width: 75%;
  }
  .landing-text .bold-title {
    letter-spacing: 20px;
    width: 100%;
    justify-content: end;
    display: flex;
    font-size: 3rem;
    margin: 2% 0;
  }

  .landing-text .right-text {
    font-family: Proxima-nova !important;
    display: flex;
    justify-content: start;
    width: 100%;
    direction: rtl;
    padding-right: 5%;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .landing-text {
    z-index: 3;
    width: 90%;
    height: 50vh;
    position: fixed;
    left: 2%;
    top: 27%;
    z-index: 45;
  }
  .landing-text .bold-title {
    font-size: 5rem;
    letter-spacing: 12px;
  }
  .right-text {
    font-family: Proxima-nova !important;
    padding-right: 5%;
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
}
