body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer {
  cursor: pointer;
}
.default-cursor {
  cursor: default;
}

.letter-spacing {
  letter-spacing: 8px;
}

@font-face {
  font-family: Grand-wilson;
  src: url("./fonts/Grand_Wilson_Sans.otf");
}
@font-face {
  font-family: Proxima-nova;
  src: url("./fonts/ProximaNova-Regular.otf");
}
